<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/auth-header.ejs") %>

    <main class="info">

        <h1>about us</h1>

        <% if (locals.information.length > 0) { %>
            <% information.forEach(info => { %>
                <section class="about">
                <% if (info.title) {%>
                    <h2><%= info.title %></h2>
                <% } %>
                <% if (info.subtitle) {%>
                    <h3><%= info.subtitle %></h3>
                <% } %>
                <% if (info.information) {%>
                    <p><%= info.information %></p>
                <% } %>
                </section>
            <% }) %>
            <% } %>

    </main>
    
    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
    <script src="/js/info.js"></script>
</body>
</html>