<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/admin-header.ejs") %>
    <main class="admin-dashboard">
        <section class="top">
            <h1>admin dashboard</h1>
            <h2>welcome <%= username %></h2>
        </section>

        <nav>
            <a href="/post/blog">post blogs</a>
            <a href="/manage/blog">manage blogs</a>
            <a href="/site/info/view">site information</a>
            <a href="/contact/messages">contact messages</a>

            <form action="/logout/admin" method="POST">
                <button type="submit">logout</button>
            </form>
        </nav>

        <div id="feedback">

        <% if (locals.message) {%>
            <section>
            <%= message %><span>✅</span>
            <button onclick="closeFeedback()">ok</button>
            </section>
            <div class="overlay"></div>
        <% } %>

        <% if (locals.error) {%>
            <section>
            <%= error %><span>❌</span>
            <button onclick="closeFeedback()">ok</button>
            </section>
            <div class="overlay"></div>
        <% } %>
        </div>

    </main>
    
    <%- include("partials/footer.ejs") %>
    <script src="/js/script1.js"></script>
    <script src="/js/feedback.js"></script>
</body>
</html>