<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main class="home">
        <h1>weekly news</h1>
        
        <div id="chooseCountry">
            <h3>select country</h3>
        <%- include("partials/country-nav.ejs") %>
        </div>
        
        <% if (locals.information.length > 0) { %>
            <% information.forEach(info => { %>
                <section class="info">

                <% if (info.title) { %>
                    <h2><%= info.title %></h2>
                <% } %>
                <% if (info.subtitle) { %>
                    <h3><%= info.subtitle %></h3>
                <% } %>
                <% if (info.information) { %>
                    <p><%= info.information %></p>
                <% } %>

                </section>

            <% }) %>
            <% } %>
        </section>
    </main>

    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
    <script src="/js/public-header.js"></script>
    <script>
        const Btn = document.getElementById("HeaderNav");
    const DropDown = document.getElementById("navDropDown");

    Btn.addEventListener("click", function() {
        const dropped = DropDown.classList.toggle("showDropDown");
        if (dropped) {
            Btn.setAttribute("class", "fa-solid fa-xmark")
        } else {
            Btn.setAttribute("class", "fa-solid fa-bars")
        }
    })

    </script>
</body>
</html>