<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main class="home">
        <h1>weekly update</h1>
        
        <div id="chooseCountry">
        <%- include("partials/country-nav.ejs") %>
        </div>

        <section class="first">
            <h2>our platform focuses on delivering high quality articles in</h2>
            <ul>
                <li>politics</li>
                <li>finance</li>
                <li>insurance</li>
                <li>real estate</li>
                <li>education</li>
                <li>legal</li>
                <li>health</li>
                <li>technology</li>
                <li>sport</li>
            </ul>
        </section>

        <section class="second">
            <h2>fresh content <br> every week</h2>
            <h3>we operate a continuous content cycle.</h3>
            <h3>new articles are posted weekly.</h3>
            <h3>content are maintained for a limited time.</h3>
            <h3>older posts are automatically replaced to keep information current.</h3>
            <h3>this ensures you always read relevant and up-to-date insights, not outdated information.</h3>
        </section>

        <section class="third">
            <h2>why<br>choose<br>us?</h2>
            <ul>
                <span>🌎</span>
                <li>global coverage</li>
                <span>🧠</span>
                <li>easy to understand content</li>
                <sapn>⚡</sapn>
                <li>regular updates</li>
                <span>📊</span>
                <li>wide range of categories</li>
                <span>🔄</span>
                <li>always fresh information</li>
            </ul>
        </section>
        
        <% if (locals.information.length > 0) { %>
            <% information.forEach(info => { %>
                <section class="info">

                <% if (info.title) { %>
                    <h2><%= info.title %></h2>
                <% } %>
                <% if (info.subtitle) { %>
                    <h3><%= info.subtitle %></h3>
                <% } %>
                <% if (info.information) { %>
                    <p><%= info.information %></p>
                <% } %>

                </section>

            <% }) %>
            <% } %>
        </section>
    </main>

    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
    <script src="/js/public-header.js"></script>
    <script>
        const Btn = document.getElementById("HeaderNav");
    const DropDown = document.getElementById("navDropDown");

    Btn.addEventListener("click", function() {
        const dropped = DropDown.classList.toggle("showDropDown");
        if (dropped) {
            Btn.setAttribute("class", "fa-solid fa-xmark")
        } else {
            Btn.setAttribute("class", "fa-solid fa-bars")
        }
    })

    </script>
</body>
</html>