<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main class="home">
        <h1>weekly news</h1>
        <h3>select country</h3>
        <%- include("partials/country-nav.ejs") %>
        
        <section class="info">
        <% if (locals.information.length > 0) { %>
            <% information.forEach(info => { %>

                <h2><%= info.information %></h2>

            <% }) %>
            <% } %>
        </section>
    </main>

    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
    <script>
        const Btn = document.getElementById("HeaderNav");
    const DropDown = document.getElementById("navDropDown");

    Btn.addEventListener("click", function() {
        const dropped = DropDown.classList.toggle("showDropDown");
        if (dropped) {
            Btn.setAttribute("class", "fa-solid fa-xmark")
        } else {
            Btn.setAttribute("class", "fa-solid fa-bars")
        }
    })
    </script>
</body>
</html>