<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/auth-header.ejs") %>
    <main class="admin-auth">
        <h1>admin login</h1>

        <form id="loginForm" action="/login/admin" method="POST" onsubmit="disableSubmitButton()">

            <label><i class="fa-solid fa-user"></i>
            <input type="text" name="username" placeholder="username" />
            </label>
            <label><i class="fa-solid fa-lock"></i>
            <input type="password" name="password" placeholder="password" />
            </label>

            <button type="submit">login</button>

            <% if (locals.message) {%>
            <p class="message"><%= message %></p>
            <% } %>

            <% if (locals.error) {%>
            <p class="error"><%= error %></p>
            <% } %>

        </form>
    </main>

    <%- include("partials/footer.ejs") %>
    <script>
        
        document.querySelector("form").addEventListener("submit", function() {
            document.querySelector("form > button").innerHTML = "logging...";
        })

    </script>
    <script src="/js/script.js"></script>
    <script src="/js/post.js"></script>
</body>
</html>