<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/auth-header.ejs") %>
    <main class="admin-auth">
        <h1>admin login</h1>

        <form id="loginForm" action="/login/admin" method="POST" onsubmit="disableSubmitButton()">

            <label><i class="fa-solid fa-user"></i>
            <input type="text" name="username" placeholder="username" />
            </label>
            <label><i class="fa-solid fa-lock"></i>
            <input type="password" name="password" placeholder="password" />
            </label>

            <button type="submit">login</button>

        </form>

        <div id="feedback">

        <% if (locals.message) {%>
            <section>
            <%= message %><span>✅</span>
            <button onclick="closeFeedback()">ok</button>
            </section>
            <div class="overlay"></div>
        <% } %>

        <% if (locals.error) {%>
            <section>
            <%= error %><span>❌</span>
            <button onclick="closeFeedback()">ok</button>
            </section>
            <div class="overlay"></div>
        <% } %>
        </div>
    </main>

    <%- include("partials/footer.ejs") %>
    <script>
        
        document.querySelector("form").addEventListener("submit", function() {
            document.querySelector("form > button").innerHTML = "logging...";
        })

    </script>
    <script src="/js/script.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/feedback.js"></script>
</body>
</html>