<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>

    <main class="public-blogs usa">
        <h1>australia</h1>

        <form id="searchFormPage" action="/search/au" method="POST" onsubmit="disableSubmitButton()">
            <input type="text" name="search" placeholder="Search..."/>
            <button type="submit">search keywords</button>
            <a href="/au/blog/politics">main</a>
        </form>

        <section>
            <% if (locals.blogs) {%>
                <% blogs.forEach(blog => { %>
                    <article>
                        <span class="date"><%= new Date(blog.date).toLocaleDateString('en-GB', { 
                            day: 'numeric',
                            month: 'long',
                            year: 'numeric'
                        }) %></span>
                        <h2><%= blog.title %></h2>
                        <img src="<%= blog.image %>" />
                        <span>posted by <%= blog.author %></span>
                        <p><%= blog.content %></p>
                        <button>
                            continue reading
                        </button>
                    </article>
              <%  }) %>
            <% } else { %>
                <p class="not-found">no search found</p>
                <% } %>
        </section>

    </main>
    
    <%- include("partials/footer.ejs") %>

    <script src="/js/script.js"></script>
    <script src="/js/script1.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/public-header.js"></script>
    <script>
        document.getElementById("searchFormPage").addEventListener("submit", function() {
        document.querySelector("#searchFormPage > button").innerHTML = "loading...";
    })

    const Btn = document.getElementById("HeaderNav");
    const DropDown = document.getElementById("navDropDown");

    Btn.addEventListener("click", function() {
        const dropped = DropDown.classList.toggle("showDropDown");
        if (dropped) {
            Btn.setAttribute("class", "fa-solid fa-xmark")
        } else {
            Btn.setAttribute("class", "fa-solid fa-bars")
        }
    })

    </script>
</body>
</html>