<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/admin-header.ejs") %>

    <nav class="admin-nav">
    <a href="/admin/dashboard">dashboard</a>
    <a href="/create/site/info">create site info</a>
    </nav>

    <main class="site-info">
        <h1>site information</h1>

        <nav>
            <a href="/site/info/view"><i class="fa-solid fa-xmark"></i></a>
            <a href="/site/info/home">home content</a>
            <a href="/site/info/about">see about us</a>
            <a href="/site/info/terms">see terms & conditions</a>
            <a href="/site/info/policy">privacy policy</a>
            <a href="/site/info/contact">contact</a>
        </nav>

        <div id="feedback">

        <% if (locals.message) {%>
            <section>
            <%= message %>
            <button onclick="closeFeedback()">ok</button>
            </section>
            <div class="overlay"></div>
        <% } %>
        </div>

        <section class="site-info-view">
            <% if (locals.information.length > 0) {%>
                <h2><%= information[0].category %></h2>
                <% information.forEach(info => { %>
                    <section>
                        <h2><%= info.title %></h2>
                        <h3><%= info.subtitle %></h3>
                        <h4><%= info.information %></h4>

                        <div class="action">
                            <a href="/edit/site/info/<%= info.id %>">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>

                            <form action="/delete/site/info/<%= info.id %>/<%= info.category %>" method="POST"
                                onsubmit="return confirm('are you sure to delete?')"
                                >
                                <button type="submit"><i class="fa-solid fa-xmark"></i></button>
                            </form>
                        </div>
                    </section>
               <% }) %>
            <% } else {%>
                <p>no info found</p>
                <% } %>
        </section>
    </main>
    
    <%- include("partials/footer.ejs") %>
    <script src="/js/script"></script>
    <script src="/js/script1.js"></script>
    <script>
        const button = document.querySelector("#feedback button");
        button.addEventListener("click", function() {
            document.getElementById("feedback").style.display = "none";
        })

         document.addEventListener("click", function() {
            document.getElementById("feedback").style.display = "none";
        })
    </script>
</body>
</html>