<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main class="public-blogs uk">
        <h1>united kingdom</h1>

        <nav>
            <a href="/">home</a>
            <a href="/uk/blog/politics">politics</a>
            <a href="/uk/blog/finance">finance</a>
            <a href="/uk/blog/insurance">insurance</a>
            <a href="/uk/blog/technology">technology</a>
            <a href="/uk/blog/realestate">real estate</a>
            <a href="/uk/blog/education">education & career</a>
            <a href="/uk/blog/legal">legal</a>
            <a href="/uk/blog/health">health</a>
            <a href="/uk/blog/sport">sport</a>
        </nav>

        <div class="public-blogs-forms">

        <form id="searchForm" action="/search/uk" method="POST" onsubmit="disableSearchSubmitButton()">
            <input type="text" name="search" placeholder="Enter Keywords..."/>
            <button type="submit">search keyword</button>
        </form>

        <form id="dateForm" action="<%= locals.blogs.length > 0 ? '/uk/blog/' + locals.blogs[0].category : ''%>" 
            method="GET"
            onsubmit="disableDateSubmitButton()"
            >
            <input type="date" id="date" name="date" 
            value="<%= locals.blogs.length > 0 ? locals.blogs[0].date : locals.date  %>" />

            <button type="submit">Go to date</button>
        </form>

        </div>

        <section class="blogs">
            <% if (locals.blogs.length > 0) {%>
                <h2><%= !locals.all ? blogs[0].category : "All"%></h2>
                <% blogs.forEach(blog => { %>
                    <h2><%= locals.all ? blog.category : null%></h2>
                    <article>
                        <span class="date"><%= new Date(blog.date).toLocaleDateString('en-GB', { 
                            day: 'numeric',
                            month: 'long',
                            year: 'numeric'
                        }) %></span>
                        <h2><%= blog.title %></h2>
                        <img src="<%= blog.image %>" />
                        <span>posted by <%= blog.author %></span>
                        <p><%= blog.content %></p>
                        <button>
                            continue reading
                        </button>
                    </article>
              <%  }) %>
            <% } else { %>
                <p class="not-found">no post found</p>
                <% } %>
        </section>

    </main>
    
    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
    <script src="/js/script1.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/public-header.js"></script>
    <script>
        document.getElementById("dateForm").addEventListener("submit", function() {
        document.querySelector("#dateForm > button").innerHTML = "loading...";
    })

    document.getElementById("searchForm").addEventListener("submit", function() {
        document.querySelector("#searchForm > button").innerHTML = "loading...";
    })

    const Btn = document.getElementById("HeaderNav");
    const DropDown = document.getElementById("navDropDown");

    Btn.addEventListener("click", function() {
        const dropped = DropDown.classList.toggle("showDropDown");
        if (dropped) {
            Btn.setAttribute("class", "fa-solid fa-xmark")
        } else {
            Btn.setAttribute("class", "fa-solid fa-bars")
        }
    })

    </script>
</body>
</html>