<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>

    <main class="public-blogs usa">

            <h1>united states of america</h1>

        <nav>
            <a href="/">home</a>
            <a href="/usa/blog/politics">politics</a>
            <a href="/usa/blog/finance">finance</a>
            <a href="/usa/blog/insurance">insurance</a>
            <a href="/usa/blog/technology">technology</a>
            <a href="/usa/blog/realestate">real estate</a>
            <a href="/usa/blog/education">education & career</a>
            <a href="/usa/blog/legal">legal</a>
            <a href="/usa/blog/health">health</a>
            <a href="/usa/blog/sport">sport</a>
        </nav>

        <div class="public-blogs-forms">

        <form id="searchForm" action="/search/usa" method="POST" onsubmit="disableSearchSubmitButton()">
            <input type="text" name="search" placeholder="Enter Keywords..."/>
            <button type="submit">search keyword</button>
        </form>

            <form id="dateForm" action="<%= locals.blogs.length > 0 ? '/usa/blog/' + locals.blogs[0].category : ''%>" 
            method="GET"
            onsubmit="disableDateSubmitButton()"
            >
            <input type="date" id="date" name="date" 
            value="<%= locals.blogs.length > 0 ? locals.blogs[0].date : locals.date  %>" />

            <button type="submit">Go to date</button>
            </form>

            <h2 id="formsHeader"><%= locals.blogs[0]?.category %></h2>

        </div>

        <section>
            <h2 id="artHeader"><%= category %></h2>
            <% if (locals.blogs.length > 0) {%>
                <% blogs.forEach(blog => { %>
                    <article>
                        <span class="date"><%= new Date(blog.date).toLocaleDateString('en-GB', { 
                            day: 'numeric',
                            month: 'long',
                            year: 'numeric'
                        }) %></span>
                        <h2><%= blog.title %></h2>
                        <img src="<%= blog.image %>" />
                        <span>posted by <%= blog.author %></span>
                        <p><%= blog.content %></p>
                        <button>
                            continue reading
                        </button>
                    </article>
              <%  }) %>
            <% } else { %>
                <p class="not-found">no post found</p>
                <% } %>
        </section>

    </main>
    
    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
    <script src="/js/script1.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/public-header.js"></script>
    <script>
        document.getElementById("dateForm").addEventListener("submit", function() {
        document.querySelector("#dateForm > button").innerHTML = "loading...";
    })

    const Btn = document.getElementById("HeaderNav");
    const DropDown = document.getElementById("navDropDown");

    Btn.addEventListener("click", function() {
        const dropped = DropDown.classList.toggle("showDropDown");
        if (dropped) {
            Btn.setAttribute("class", "fa-solid fa-xmark")
        } else {
            Btn.setAttribute("class", "fa-solid fa-bars")
        }
    })

    </script>
</body>
</html>